* {
    margin: 0;
    padding 0;
}

html {
    height: 100%;
}

body {
    font-family: "Helvetica", Arial, Verdana;
    height: 100%;
    background-color: #8AD2A2;
}

figure{
    margin: 0 auto;
    text-align: center;
}

p {
    margin: 0% 3% 1% 3%;
    font-size: 2em;
}

#text {
    margin-top: 30px;
    text-align: center;
}